# Copie para .env e preencha — NUNCA faça commit do .env!

# Abstract Phone Validation — para busca de operadora
# Cadastro em: https://www.abstractapi.com/phone-validation-api
ABSTRACT_API_KEY=https://apis-telcox.onrender.com

PORT=3001
